{%extends 'registration/base.html'%} {% load bootstrap4 %}


{% block content%}
<div class="container" style="text-align: center; padding-top: 100px;">
    <div class="row">
        <div class=""></div>
        <div class="col-md-12">
            <div class="card" style="text-align: center; padding: 200px;">
            <h3>Search results for: <strong>{{message}}</strong></h3>
            {%if hoods%}
            {% for hood in hoods %}
               <div class="card-title">
                    {{hood.name}}
                </div>
                <div class="card-body">
                    <p>{{hood.loc}}</p>
                    <a href=" {% url 'joinHood' hood.id %}" class="btn btn-sm btn-success">Join hood</a>
                </div>
            </div>
        </div>

        {%endfor%}
        {% else %}
            <h4 class="text-center" style="padding-top: 50px;">No neighbourhood with the name <strong>{{message}}</strong> exists! You can however
                create it <br> <a href="{% url 'createHood' %}" class="btn btn-success">here</a></h4>
       
        {%endif%}
    </div>
</div>

{%endblock%}