{% extends 'registration/base.html' %} {% load static %} {% load bootstrap4 %}


{% block content %}
{{ form.media }}

<div class="container">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <img class="card-img-top" src="{{user.image}}" alt="" style="height: 200px;">
                    <p>Name: {{ profile_details.user }}</p>
                    <p> Bio: {{profile_details.bio}}</p>
                </li>
            </ul>
            <a href="{% url 'profile' %}" class="btn btn-sm btn-success">Edit Profile</a>
            <span>
                <a href="{% url 'business' %}" class="btn btn-sm btn-success">Add business</a>
            </span>
        </div>
    </div>
</div>

{% endblock %}